In [44]:
import pandas as pd
import numpy as np
from  src import CleaningFunctions as cf
import re as r

In [2]:
dfSharks = pd.read_csv("../Pandas-Proyect/data/attacks.csv",encoding = "ISO-8859-1")
dfSharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
dfSharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
dfSharks1 = dfSharks.copy()

In [5]:
dfSharks1.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
dfSharks1 = dfSharks1.loc[:, ~dfSharks1.columns.str.contains('^Unnamed')]

In [7]:
dfSharks1 = dfSharks1.drop(columns=['Case Number.1',"Case Number.2",'href formula','href',''])

In [8]:
dfSharks1.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'original order'],
      dtype='object')

In [9]:
dfSharks1 = dfSharks1.set_index("Case Number")
dfSharks1.isna().sum()

Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
original order            19414
dtype: int64

In [10]:
dfSharks1.isna().sum()

Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
original order            19414
dtype: int64

In [11]:
dfSharks1 = dfSharks1.dropna(axis = 0, how = 'all')

In [12]:
dfSharks1 = dfSharks1.set_index("original order")

In [13]:
dfSharks1.sort_values('original order', inplace = True)

In [14]:
dfSharks1.Type.unique()

array(['Unprovoked', 'Boat', 'Sea Disaster', 'Provoked', 'Invalid',
       'Boating', nan, 'Boatomg', 'Questionable'], dtype=object)

In [15]:
dfSharks1['Type'] = dfSharks1.Type.str.replace('Boating','Boat')

In [16]:
dfSharks1['Type'] = dfSharks1.Type.str.replace('Boatomg','Boat')

In [17]:
dfSharks1.Type.unique()

array(['Unprovoked', 'Boat', 'Sea Disaster', 'Provoked', 'Invalid', nan,
       'Questionable'], dtype=object)

In [18]:
dfSharks1.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
original order,,,,,,,,,,,,,,,,
2.0,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf
3.0,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf
4.0,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf
5.0,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf
6.0,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf

In [19]:
dfSharks1['Sex'] =  dfSharks1['Sex ']

In [20]:
dfSharks1.drop(['Sex '], axis = 1, inplace = True)

In [21]:
dfSharks1.Sex.unique()

array(['M', 'F', nan, 'N', '.', 'lli', 'M '], dtype=object)

In [22]:
dfSharks1['Sex'] = dfSharks1.Sex.str.replace('N', 'M')
dfSharks1['Sex'] = dfSharks1.Sex.str.strip()
dfSharks1['Sex'] = dfSharks1.Sex.fillna('Desconocido')
dfSharks1['Sex'] = dfSharks1.Sex.str.replace('lli', 'Desconocido')
dfSharks1['Sex'] = dfSharks1.Sex.str.replace('.', 'Desconocido')

<ipython-input-22-315f9b60607d>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dfSharks1['Sex'] = dfSharks1.Sex.str.replace('.', 'Desconocido')

In [40]:
lpaises_duplic = list(dfSharks1.Country)

In [45]:
def contador(x):
    '''
    Esta funcion recibe una lista que la recorre para sumar las veces que se repite un elemento de la lista. Hay un dic
    donde se guarda el elemento como key y la veces que se repite como valor
    argumentos:
    x = lista de donde sacar las repeticiones
    return el dic donde sale las veces que se repite un elemento
    '''
    cuenta={}
    for i in x:
        cuenta[i] = 0
    for i in x:
        cuenta[i] += 1
    return cuenta

In [49]:
duplis = dfSharks1.pivot_table(columns=['Country'], aggfunc='size')
duplis

Country
 PHILIPPINES          1
 TONGA                3
ADMIRALTY ISLANDS     1
AFRICA                1
ALGERIA               1
                     ..
VIETNAM              15
WEST INDIES           2
WESTERN SAMOA         1
YEMEN                 2
YEMEN                 7
Length: 212, dtype: int64

{'CEYLON (SRI LANKA)': 1, 'PANAMA': 32, 'USA': 2229, 'AUSTRALIA': 1338, 'ASIA?': 1, 'SOUTH AFRICA': 579, 'FIJI': 62, 'VIETNAM': 15, 'REUNION': 60, 'BELIZE': 3, 'GREECE': 25, 'ITALY': 71, 'BURMA': 4, 'PAPUA NEW GUINEA': 134, 'PACIFIC OCEAN': 17, 'SAUDI ARABIA': 5, 'IRAQ': 12, 'IRAN': 29, 'SOLOMON ISLANDS': 30, nan: 57, 'KIRIBATI': 6, 'NORTH PACIFIC OCEAN': 7, 'MARSHALL ISLANDS': 13, 'CUBA': 46, 'NICARAGUA': 6, 'INDIA': 40, 'INDONESIA': 23, 'BAHAMAS': 109, 'MADAGASCAR': 8, 'BERMUDA': 16, 'SEYCHELLES': 7, 'MOZAMBIQUE': 45, 'SINGAPORE': 6, 'MEDITERRANEAN SEA': 2, 'RED SEA?': 1, 'VANUATU': 14, 'SUDAN': 4, 'FRENCH POLYNESIA': 25, 'KOREA': 1, 'BAHREIN': 1, 'VENEZUELA': 11, 'SRI LANKA': 14, 'NEW ZEALAND': 128, 'LIBYA': 6, 'DJIBOUTI': 1, 'SPAIN': 44, 'LEBANON': 3, 'URUGUAY': 4, 'KENYA': 10, 'CANADA': 12, 'MEXICO': 89, 'FRANCE': 13, 'Between PORTUGAL & INDIA': 1, 'GUINEA': 3, 'BARBADOS': 6, 'ROATAN': 1, 'ICELAND': 2, 'SWEDEN': 1, 'JAMAICA': 27, 'GREENLAND': 1, 'MARTINIQUE': 3, 'ENGLAND': 23, 'ANTIGUA': 2, 'TOBAGO': 2, 'NORWAY': 2, 'NIGERIA': 4, 'GHANA': 1, 'BRAZIL': 112, 'EGYPT': 38, 'SIERRA LEONE': 8, 'CARIBBEAN SEA': 8, 'TASMAN SEA': 1, 'WEST INDIES': 2, 'Coast of AFRICA': 1, 'ALGERIA': 1, 'NAMIBIA': 2, 'AFRICA': 1, 'PERU': 1, 'ATLANTIC OCEAN': 17, 'TONGA': 15, 'COOK ISLANDS': 1, 'EQUATORIAL GUINEA / CAMEROON': 1, 'JAPAN': 34, 'CEYLON': 3, 'ANDAMAN ISLANDS': 1, 'MAURITIUS': 10, 'CHINA': 7, 'SCOTLAND': 8, 'GUYANA': 3, 'SOUTH ATLANTIC OCEAN': 12, 'Fiji': 3, 'CROATIA': 34, 'AZORES': 5, 'INDIAN OCEAN?': 1, 'TUVALU': 1, 'HONDURAS': 4, 'INDIAN OCEAN': 7, 'NEW GUINEA': 10, 'PHILIPPINES': 61, 'SYRIA': 1, 'GEORGIA': 1, 'NEW CALEDONIA': 53, 'OCEAN': 1, 'MALTA': 5, 'PERSIAN GULF': 4, 'SAMOA': 8, 'BRITISH NEW GUINEA': 1, 'PARAGUAY': 1, 'YEMEN ': 7, 'HAITI': 3, 'CRETE': 2, 'EGYPT ': 2, 'CYPRUS': 1, 'FALKLAND ISLANDS': 1, 'REUNION ISLAND': 1, 'TUNISIA': 3, 'NORTH ATLANTIC OCEAN': 4, 'COSTA RICA': 17, 'MONTENEGRO': 3, 'KUWAIT': 1, 'IRELAND': 1, 'SAN DOMINGO': 1, 'MONACO': 1, 'TURKEY': 12, 'CAPE VERDE': 3, 'OKINAWA': 6, 'ISRAEL': 7, 'CHILE': 8, 'ITALY / CROATIA': 1, 'UNITED KINGDOM': 11, 'TRINIDAD & TOBAGO': 3, 'CURACAO': 1, 'SLOVENIA': 1, 'SOUTHWEST PACIFIC OCEAN': 2, 'MID-PACIFC OCEAN': 1, 'BAY OF BENGAL': 1, 'SOLOMON ISLANDS / VANUATU': 1, 'CENTRAL PACIFIC': 2, 'PORTUGAL': 3, 'SOUTH PACIFIC OCEAN': 2, ' PHILIPPINES': 1, 'JAVA': 1, 'IRAN / IRAQ': 1, 'HONG KONG': 24, 'TANZANIA': 8, 'SENEGAL': 11, 'NORTHERN MARIANA ISLANDS': 1, 'MID ATLANTIC OCEAN': 5, 'LIBERIA': 3, 'EL SALVADOR': 4, 'COLUMBIA': 9, 'NETHERLANDS ANTILLES': 1, 'GUATEMALA': 1, 'ARGENTINA': 1, 'SUDAN?': 1, 'THE BALKANS': 1, 'ECUADOR': 9, 'AMERICAN SAMOA': 3, 'YEMEN': 2, 'NORTH ATLANTIC OCEAN ': 1, 'MAYOTTE': 1, 'GABON': 1, 'TAIWAN': 9, 'ANDAMAN / NICOBAR ISLANDAS': 1, 'SOUTH KOREA': 8, 'MALDIVE ISLANDS': 1, 'GRENADA': 4, 'NICARAGUA ': 1, 'GUAM': 4, 'NORTH SEA': 1, 'JOHNSTON ISLAND': 2, 'RED SEA / INDIAN OCEAN': 1, 'NEW BRITAIN': 6, 'BRITISH WEST INDIES': 1, 'ADMIRALTY ISLANDS': 1, 'FEDERATED STATES OF MICRONESIA': 1, 'DOMINICAN REPUBLIC': 7, 'PALAU': 5, 'RED SEA': 1, 'PACIFIC OCEAN ': 2, 'THAILAND': 8, 'MALAYSIA': 5, 'MICRONESIA': 3, 'BRITISH ISLES': 1, 'WESTERN SAMOA': 1, 'BANGLADESH': 1, 'SOUTH CHINA SEA': 1, 'SOMALIA': 6, 'ANGOLA': 1, 'NORTHERN ARABIAN SEA': 1, 'EGYPT / ISRAEL': 1, ' TONGA': 3, 'TURKS & CAICOS': 5, 'RUSSIA': 4, 'MEXICO ': 1, 'Seychelles': 1, 'GRAND CAYMAN': 1, 'ST. MAARTIN': 1, 'Sierra Leone': 1, 'GULF OF ADEN': 1, 'BRITISH VIRGIN ISLANDS': 1, 'NEVIS': 1, 'UNITED ARAB EMIRATES (UAE)': 2, 'PALESTINIAN TERRITORIES': 1, 'DIEGO GARCIA': 1, 'CAYMAN ISLANDS': 2, 'ST. MARTIN': 1, 'PUERTO RICO': 1, 'ARUBA': 1, 'UNITED ARAB EMIRATES': 2, 'ST HELENA, British overseas territory': 2, 'COMOROS': 1, 'MALDIVES': 1}