In [2]:
import pandas as pd
import numpy as np
import src.CleaningFunctions as cf
import re as r

In [3]:
dfSharks = pd.read_csv("../Pandas-Proyect/data/attacks.csv",encoding = "ISO-8859-1")
dfSharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
#dfSharks.info()

In [5]:
dfSharks1 = dfSharks.copy()

In [6]:
#dfSharks1.columns

In [7]:
dfSharks1 = dfSharks1.loc[:, ~dfSharks1.columns.str.contains('^Unnamed')]

In [8]:
dfSharks1 = dfSharks1.drop(columns=['Case Number.1',"Case Number.2",'href formula','href','Location','pdf','Investigator or Source'])

In [9]:
#dfSharks1.columns

In [10]:
dfSharks1.rename(columns = {'Species ':'Species'}, inplace = True)
dfSharks1.rename(columns = { 'Fatal (Y/N)':'Fatality'}, inplace = True)

In [11]:
dfSharks1.isna().sum()

Case Number       17021
Date              19421
Year              19423
Type              19425
Country           19471
Area              19876
Activity          19965
Name              19631
Sex               19986
Age               22252
Injury            19449
Fatality          19960
Time              22775
Species           22259
original order    19414
dtype: int64

In [12]:
dfSharks1 = dfSharks1.dropna(axis = 0, how = 'all')

In [13]:
dfSharks1 = dfSharks1.set_index("original order")

In [14]:
dfSharks1.sort_values('original order', inplace = True)

In [15]:
dfSharks1.Type.unique()

array(['Unprovoked', 'Boat', 'Sea Disaster', 'Provoked', 'Invalid',
       'Boating', nan, 'Boatomg', 'Questionable'], dtype=object)

In [16]:
dfSharks1.Type.unique()

array(['Unprovoked', 'Boat', 'Sea Disaster', 'Provoked', 'Invalid',
       'Boating', nan, 'Boatomg', 'Questionable'], dtype=object)

In [17]:
dfSharks1.head()

,Case Number,Date,Year,Type,Country,Area,Activity,Name,Sex,Age,Injury,Fatality,Time,Species
original order,,,,,,,,,,,,,,
2.0,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN
3.0,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
4.0,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
5.0,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6.0,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,male,M,NaN,FATAL,Y,NaN,NaN

In [18]:
dfSharks1['Sex'] =  dfSharks1['Sex ']

In [19]:
dfSharks1.drop(['Sex '], axis = 1, inplace = True)

In [20]:
dfSharks1.Sex.unique()

array(['M', 'F', nan, 'N', '.', 'lli', 'M '], dtype=object)

In [21]:
#Renombro valores y doy valores a los Nan
#Para la columna sex:
dfSharks1['Sex'] = dfSharks1.Sex.str.replace('N', 'M')
dfSharks1['Sex'] = dfSharks1.Sex.str.strip()
dfSharks1['Sex'] = dfSharks1.Sex.fillna('Desconocido')
dfSharks1['Sex'] = dfSharks1.Sex.str.replace('lli', 'Desconocido')
dfSharks1['Sex'] = dfSharks1.Sex.str.replace('.', 'Desconocido')
#Para la columna Activity
dfSharks1['Activity'] = dfSharks1.Activity.str.replace('Fishing / Wading','Shore fishing')
dfSharks1['Activity'] = dfSharks1.Activity.fillna('Desconocido')
dfSharks1['Activity'] = dfSharks1.Activity.str.replace('Kayak fishing for sharks', 'Kayak Fishing')
#Para la columna Country:
dfSharks1['Country'] = dfSharks1.Country.fillna('Desconocido')
#Para la columna Fatality:
dfSharks1['Fatality'] = dfSharks1.Fatality.str.replace('2017','Desconocido')
dfSharks1['Fatality'] = dfSharks1.Fatality.str.replace('N ','N')
dfSharks1['Fatality'] = dfSharks1.Fatality.str.replace(' N','N')
dfSharks1['Fatality'] = dfSharks1.Fatality.str.replace('M','N')
dfSharks1['Fatality'] = dfSharks1.Fatality.str.replace('y', 'Y')
dfSharks1['Fatality'] = dfSharks1.Fatality.str.replace('UNKNOWN','Desconocido')
dfSharks1['Fatality'] = dfSharks1.Fatality.fillna('Desconocido')
#Para la columna Type:
dfSharks1['Type'] = dfSharks1.Type.str.replace('Boating','Boat')
dfSharks1['Type'] = dfSharks1.Type.str.replace('Boatomg','Boat')
dfSharks1['Type'] = dfSharks1.Type.fillna('Desconocido')

<ipython-input-21-bde1c7bbdfdb>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dfSharks1['Sex'] = dfSharks1.Sex.str.replace('.', 'Desconocido')

In [22]:
repsPaises = dfSharks1.pivot_table(columns=['Country'], aggfunc='size')
repsPaises = dict(repsPaises)
paisesord = sorted(repsPaises.values())

#sacar mas de un valor maximo

In [23]:
dfsharks1.head()

NameError: name 'dfsharks1' is not defined

In [24]:
top = list(dfSharks1.Country.value_counts().index)[0:4]
trip = list(dfSharks1.Country.value_counts())[0:4]

In [25]:
#list(dfSharks1.Country.value_counts())

In [26]:
print(top)
print(trip)

['Desconocido', 'USA', 'AUSTRALIA', 'SOUTH AFRICA']
[2451, 2229, 1338, 579]

In [27]:
dfPaises = pd.DataFrame(top, )
dfPaises['Ataques'] = trip
dfPaises.columns = ['Pais','Ataques']
dfPaises.to_csv("Paises.csv", index = True)

In [56]:
df = dfSharks1[dfSharks1['Country'].isin(top)]
df.head()

,Case Number,Date,Type,Country,Area,Activity,Name,Age,Injury,Fatality,Species,Sex,year,month,day
original order,,,,,,,,,,,,,,,
4.0,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Swimming,Coast Guard personnel,NaN,FATAL,Y,NaN,M,0,NaN,NaN
5.0,ND.0004,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Ahmun,NaN,FATAL,Y,NaN,M,0,NaN,NaN
6.0,ND.0005,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Diving,male,NaN,FATAL,Y,NaN,M,0,NaN,NaN
7.0,ND.0006,Before 1906,Unprovoked,AUSTRALIA,New South Wales,Swimming,Arab boy,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...,M,0,NaN,NaN
8.0,ND.0007,Before 1906,Unprovoked,AUSTRALIA,NaN,Fishing,fisherman,NaN,FATAL,Y,Blue pointers,M,0,NaN,NaN

In [29]:
df.Country.unique()

array(['USA', 'AUSTRALIA', 'SOUTH AFRICA', 'Desconocido'], dtype=object)

In [30]:
dfpais = dfSharks1[dfSharks1["Country"] == ('USA','AUSTRALIA','SOUTH AFRICA', 'PAPUA NEW GUINEA')]
dfpais.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 0 entries
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Case Number  0 non-null      object
 1   Date         0 non-null      object
 2   Year         0 non-null      float64
 3   Type         0 non-null      object
 4   Country      0 non-null      object
 5   Area         0 non-null      object
 6   Activity     0 non-null      object
 7   Name         0 non-null      object
 8   Age          0 non-null      object
 9   Injury       0 non-null      object
 10  Fatality     0 non-null      object
 11  Time         0 non-null      object
 12  Species      0 non-null      object
 13  Sex          0 non-null      object
dtypes: float64(1), object(13)
memory usage: 0.0+ bytes

In [31]:
dfSharks1['Full_Date'] = dfSharks1["Case Number"].str.extract(r'(\d{4}.\d{2}.\d{2})')
dfSharks1[['year','month', 'day']] =  dfSharks1.Full_Date.str.split(".", expand=True)
dfSharks1.year = dfSharks1.year.str.extract(r'(\d{4})')

In [32]:
dfSharks1.isna().sum()

Case Number       1
Date           2401
Year           2403
Type              0
Country           0
Area           2856
Activity          0
Name           2611
Age            5232
Injury         2429
Fatality          0
Time           5755
Species        5239
Sex               0
Full_Date      2528
year           2528
month          2528
day            2531
dtype: int64

In [33]:
dfSharks1.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 8703 entries, 2.0 to nan
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Case Number  8702 non-null   object
 1   Date         6302 non-null   object
 2   Year         6300 non-null   float64
 3   Type         8703 non-null   object
 4   Country      8703 non-null   object
 5   Area         5847 non-null   object
 6   Activity     8703 non-null   object
 7   Name         6092 non-null   object
 8   Age          3471 non-null   object
 9   Injury       6274 non-null   object
 10  Fatality     8703 non-null   object
 11  Time         2948 non-null   object
 12  Species      3464 non-null   object
 13  Sex          8703 non-null   object
 14  Full_Date    6175 non-null   object
 15  year         6175 non-null   object
 16  month        6175 non-null   object
 17  day          6172 non-null   object
dtypes: float64(1), object(17)
memory usage: 1.3+ MB

In [34]:
dfSharks1.Species.unique()

array([nan,
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable',
       'Blue pointers', ..., 'Tawny nurse shark, 2m', 'Invalid incident',
       "Lemon shark, 3'"], dtype=object)

In [35]:
dfSharks1.isna().sum()

Case Number       1
Date           2401
Year           2403
Type              0
Country           0
Area           2856
Activity          0
Name           2611
Age            5232
Injury         2429
Fatality          0
Time           5755
Species        5239
Sex               0
Full_Date      2528
year           2528
month          2528
day            2531
dtype: int64

In [36]:
dfSharks1.year = dfSharks1.year.fillna('0')

In [37]:
dfSharks1.year.unique()

array(['0', '0005', '0077', '0500', '1543', '1554', '1555', '1580',
       '1595', '1642', '1617', '1637', '1638', '1700', '1703', '1721',
       '1723', '1733', '1738', '1742', '1748', '1755', '1749', '1751',
       '1753', '1758', '1764', '1767', '1771', '1776', '1779', '1780',
       '1783', '1784', '1785', '1786', '1787', '1788', '1791', '1792',
       '1797', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808', '1810', '1811', '1812', '1815', '1816', '1817',
       '1818', '1819', '1822', '1823', '1825', '1826', '1827', '1828',
       '1829', '1830', '1831', '1832', '1834', '1835', '1836', '1837',
       '1839', '1840', '1841', '1842', '1844', '1845', '1846', '1847',
       '1848', '1849', '1850', '1851', '1852', '1853', '1855', '1856',
       '1857', '1858', '1859', '1860', '1861', '1862', '1863', '1864',
       '1865', '1866', '1867', '1868', '1869', '1870', '1871', '1872',
       '1873', '1874', '1876', '1875', '1877', '1878', '1879', '1880',
       '1881', '1882', '1883', '1884', '1885', '1886', '1887', '1888',
       '1889', '1890', '1891', '1892', '1893', '1894', '1895', '1896',
       '1897', '1898', '1899', '1900', '1901', '1902', '1903', '1904',
       '1905', '1906', '1907', '1908', '1909', '1910', '1911', '1912',
       '1913', '1914', '1915', '1916', '1917', '1918', '1919', '1920',
       '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928',
       '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936',
       '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944',
       '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952',
       '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'], dtype=object)

In [38]:
unicos = list(dfSharks1.Activity.unique())
print(len(unicos))

1532

In [39]:
dfSharks1.Age.unique()

array(['15', nan, '16', '13 or 14', '50', '6', '25', '36', '27', '19',
       '21', '20', '14', 'young', '22', '17', '52', '12', '29', '7 or 8',
       '1', '2½', '18', '28', '26', '13', '35', '40', '39', '30', '3',
       '11', '23', '60', '37', '33', '24', '9', 'Teen', '10', '8',
       '31 or 33', '55', '64', '7', '43', '10 or 12', '41', '38', '47',
       '54', '?    &   14', 'A.M.', '70', '78', '  ', '42', '50s', '49',
       '45', '36 & 23', '32', '34', '5', '31', '53', '9 or 10', 'Both 11',
       '48', 'F', '68', '8 or 10', '17 & 16', '46', '"young"', '56', '81',
       ' 43', 'MAKE LINE GREEN', '61', '62', '2 to 3 months', '57', '59',
       '33 & 26', '34 & 19', '13 or 18', '"middle-age"', 'X', '17 & 35',
       '50 & 30', '30 & 32', '44', '21, 34,24 & 35', '58',
       '37, 67, 35, 27,  ? & 27', '51', '25 or 28', '33 & 37', '(adult)',
       '23 & 26', '25 to 35', '9 months', '? & 19', '63', '9 & 12', '65',
       'adult', '18 to 22', '66', '>50', '20s', '20 ', '21 or 26', '45 ',
       '74 ', ' ', '75', 'Ca. 33', 'mid-20s', 'Elderly', '77', '67', '87',
       '16 to 18', '30s', '32 & 30', '69', "60's", '71', '20?', ' 28',
       '7      &    31', ' 30', '23 & 20', '73', 'mid-30s', '33 or 37',
       '21 & ?', '6½', '30 or 36', '\xa0 ', '84', '36 & 26', 'Teens',
       'teen', '28, 23 & 30', '46 & 34', '12 or 13', '18 or 20', '86',
       '28 & 26', '74', '40s', '18 months', '72', '60s', '82'],
      dtype=object)

In [40]:
dfSharks1[dfSharks1['Age'] == '36 & 26'].head()

,Case Number,Date,Year,Type,Country,Area,Activity,Name,Age,Injury,Fatality,Time,Species,Sex,Full_Date,year,month,day
original order,,,,,,,,,,,,,,,,,,
4560.0,2003.09.14.b,14-Sep-2003,2003.0,Boat,SOUTH AFRICA,Western Cape Province,Fishing,"inflatable boat, occupants: Rudolf Bokelmann a...",36 & 26,"No injury to occupants, shark bit boat",N,09h40,2 m cow shark,Desconocido,2003.09.14,2003,09,14

In [41]:
dfSharks1.isna().sum()

Case Number       1
Date           2401
Year           2403
Type              0
Country           0
Area           2856
Activity          0
Name           2611
Age            5232
Injury         2429
Fatality          0
Time           5755
Species        5239
Sex               0
Full_Date      2528
year              0
month          2528
day            2531
dtype: int64

In [42]:
dfSharks1['Fatality'].unique()

array(['Y', 'N', 'Desconocido'], dtype=object)

In [43]:
dfSharks1.head()

,Case Number,Date,Year,Type,Country,Area,Activity,Name,Age,Injury,Fatality,Time,Species,Sex,Full_Date,year,month,day
original order,,,,,,,,,,,,,,,,,,
2.0,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,male,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,M,NaN,0,NaN,NaN
3.0,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,Desconocido,Jules Patterson,NaN,FATAL,Y,NaN,NaN,M,NaN,0,NaN,NaN
4.0,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,Coast Guard personnel,NaN,FATAL,Y,NaN,NaN,M,NaN,0,NaN,NaN
5.0,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Ahmun,NaN,FATAL,Y,NaN,NaN,M,NaN,0,NaN,NaN
6.0,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,male,NaN,FATAL,Y,NaN,NaN,M,NaN,0,NaN,NaN

In [44]:
dfSharks1.drop(columns=['Time','Full_Date','Year'], inplace = True)

In [45]:
dfSharks1.dtypes

Case Number    object
Date           object
Type           object
Country        object
Area           object
Activity       object
Name           object
Age            object
Injury         object
Fatality       object
Species        object
Sex            object
year           object
month          object
day            object
dtype: object

In [46]:
dfSharks1["year"] = dfSharks1["year"].astype(int)

In [47]:
df_year = dfSharks1[dfSharks1["year"] > 1880]
df_year.sample(5)

,Case Number,Date,Type,Country,Area,Activity,Name,Age,Injury,Fatality,Species,Sex,year,month,day
original order,,,,,,,,,,,,,,,
1523.0,1940.00.00.b,1940,Invalid,SOUTH AFRICA,KwaZulu-Natal,Desconocido,Indian female,NaN,FATAL,Desconocido,Questionable incident,F,1940,00,00
4876.0,2006.09.30,30-Sep-2006,Invalid,SOUTH AFRICA,Western Cape Province,Spearfishing,Joseph Johnston,36,No injury; 4m white shark made a threat display,Desconocido,Invalid,M,2006,09,30
1814.0,1950.00.00.i,Summer 1950,Unprovoked,INDONESIA,Jakarta Harbour,Bending over,child,7 or 8,FATAL,Y,"Tiger shark, 3.7 m to 4.3 m [12' to 14']",M,1950,00,00
1519.0,1939.11.23,23-Nov-1939,Boat,AUSTRALIA,New South Wales,Desconocido,boat of Thomas Baker,NaN,No injury,N,"Blue pointer, 16'",Desconocido,1939,11,23
5511.0,2012.05.23,23-May-2012,Unprovoked,USA,Florida,Surfing,Chad Refro,22,Lacerations to foot,N,4' to 5' shark,M,2012,05,23

In [48]:
dfTime = pd.DataFrame(df_year.groupby(['year', "Fatality"])["Fatality"].count()

SyntaxError: unexpected EOF while parsing (<ipython-input-48-533a7cae101d>, line 1)

In [49]:
dfTime.rename(columns = {'Fatality':'Count'}, inplace = True)
dfTime.reset_index()

NameError: name 'dfTime' is not defined

In [74]:
#dfSharks1.to_csv("CleanShark.csv", index = True)
#dfTime.to_csv("Time-Fatality.csv", index = True)

In [57]:
df.to_csv('Rpaises.csv', index = True)

In [51]:
dfPaises = pd.DataFrame(top, )
dfPaises['Ataques'] = trip
dfPaises.columns = ['Pais','Ataques']
dfPaises.to_csv("Paises.csv", index = True)

In [53]:
dfPaises.head()

           Pais  Ataques
0   Desconocido     2451
1           USA     2229
2     AUSTRALIA     1338
3  SOUTH AFRICA      579