In [3]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [4]:
VShark = pd.read_csv("../Pandas-Proyect/data/CleanShark.csv",encoding = "ISO-8859-1")

In [5]:
VShark

,original order,Case Number,Date,Year,Type,Country,Area,Activity,Name,Age,Injury,Fatality,Species,Sex,year,month,day
0,2.0,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,male,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,M,0,NaN,NaN
1,3.0,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,Desconocido,Jules Patterson,NaN,FATAL,Y,NaN,M,0,NaN,NaN
2,4.0,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,Coast Guard personnel,NaN,FATAL,Y,NaN,M,0,NaN,NaN
3,5.0,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Ahmun,NaN,FATAL,Y,NaN,M,0,NaN,NaN
4,6.0,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,male,NaN,FATAL,Y,NaN,M,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,NaN,0,NaN,NaN,Desconocido,Desconocido,NaN,Desconocido,NaN,NaN,NaN,Desconocido,NaN,Desconocido,0,NaN,NaN
8699,NaN,0,NaN,NaN,Desconocido,Desconocido,NaN,Desconocido,NaN,NaN,NaN,Desconocido,NaN,Desconocido,0,NaN,NaN
8700,NaN,0,NaN,NaN,Desconocido,Desconocido,NaN,Desconocido,NaN,NaN,NaN,Desconocido,NaN,Desconocido,0,NaN,NaN
8701,NaN,0,NaN,NaN,Desconocido,Desconocido,NaN,Desconocido,NaN,NaN,NaN,Desconocido,NaN,Desconocido,0,NaN,NaN
8702,NaN,xx,NaN,NaN,Desconocido,Desconocido,NaN,Desconocido,NaN,NaN,NaN,Desconocido,NaN,Desconocido,0,NaN,NaN