In [6]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [7]:
VShark = pd.read_csv("../Pandas-Proyect/data/CleanShark.csv",encoding = "ISO-8859-1")

In [17]:
Vpaises = pd.read_csv("../Pandas-Proyect/data/Paises.csv", encoding = "ISO-8859-1")
Vpaises

   Unnamed: 0          Pais  Ataques
0           0           USA     2229
1           1     AUSTRALIA     1338
2           2  SOUTH AFRICA      579

In [15]:
Vtime = pd.read_csv("../Pandas-Proyect/data/Time-Fatality.csv", encoding = "ISO-8859-1")

In [16]:
Vpaises.isna().sum()

Unnamed: 0    0
Pais          0
Ataques       0
dtype: int64

In [ ]:
Vshark.dropna( how = axis= 0)